<!-- this page was created and designed by @benyaminbansal -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/signUp.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/">Back</a>
            </header>
        <div class="all">
            <div class="main_top">
                <img src="../static/assets/reader.png" alt="Book Reader">
                <p class="main_top_text1">BookReviewer</p>
                <p class="main_top_text2">Your literary sanctuary awaits</p>
            </div>
            <div class="main">
                    <h1 class="main_title">Welcome</h1>
                    <p class="main_subtitle">Sign in to your account or create a new one</p>                        
                    <div class="sign_details">
                        <a href="/signin" class="signin">
                            <p class="signin_text">Sign In</p>
                        </a>
                        <a href="/signup" class="signup">
                            <p class="signup_text">Sign Up</p>
                        </a>
                    </div>
                   <form>
                        <label for="username">Username</label></br>
                        <input type="text" id="username" name="username"></br>
                        <label for="email">Email</label></br>
                        <input type="text" id="email" name="email"></br>
                        <label for="password">Password</label></br>
                        <input type="text" id="password" name="password">
                    </form>
                <button class="signin_button">Sign Up</button>
            </div>
        </div>
        
    </body>
</html>